<mat-card class="example-card">
    <img
  class="image"
  src="assets/images/midudev.jpg"
  alt="avatar"
  [width]="width"
  [height]="width"
    />
    <mat-card-content>
      <mat-card-title>Miguel Ángel Durán García</mat-card-title>
      <mat-card-subtitle>MiduDev</mat-card-subtitle>
      <p>Plataformas</p>
    </mat-card-content>
    <mat-card-actions >
      <a href="">
        <img src="/assets/logotwitch.png" alt="">
      </a>
      <a href="">
        <img src="/assets/logoyoutube.png" alt="">
      </a>
      <a href="">
        <img src="/assets/logospotify.png" alt="">
      </a>
    </mat-card-actions>
  </mat-card>
