@use "../../../../assets/theme/colors.scss";
.example-card {
  max-width: 216px;
  max-height: 306px;
  border-radius: 12px;
}

mat-card > img {
  border-radius: 8px;
  width: 206px;
  height: 184px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 4px;
}

mat-card-content > * {
  text-align: center;
}

mat-card-content > p {
  color: colors.$accent-color;
  font-size: 12px;
  margin-top: -5px;
}

mat-card-title,
mat-card-subtitle {
  font-size: 14px;
}

mat-card-actions {
  text-align: center;
  margin-top: -15px;
}
mat-card-actions > a > img {
  width: 20px;
  margin-right: 10px;
}
