@use "@angular/material" as mat;
@use "./assets/theme/dark-primary.scss" as theme;
@use "./assets/theme//colors.scss" as colors;

@include mat.core();

$ng-youtech-primary: mat.define-palette(theme.$dark-palette-primary);
$ng-youtech-accent: mat.define-palette(theme.$dark-palette-accent);
$ng-youtech-warn: mat.define-palette(mat.$pink-palette);

$ng-youtech-theme: mat.define-dark-theme(
  (
    color: (
      primary: $ng-youtech-primary,
      accent: $ng-youtech-accent,
      warn: $ng-youtech-warn,
    ),
  )
);

@include mat.all-component-themes($ng-youtech-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: colors.$background-color;
  color: white;

  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }
}
