.form {
  display: flex;
  flex-direction: column;
  gap: 1em;

  .actions {
    &__clear {
      margin-left: 10px;
    }
  }
}

// .table-information {
//   padding-top: 10px;
// }
/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
