<section class="container-detail">
  <div class="information">
    <h2>Descripción</h2>
    <p>
      🧑‍💻 Te enseño a programar y mejorar tu lógica de programación • 🚀 Soy
      Desarrollador Full Stack JavaScript con 15 años de experiencia • ⭐
      Reconocido como Google Developer Expert y GitHub Star • ¡Sígueme para no
      perderte el próximo stream!
    </p>
  </div>

  <div class="creator-content">
    <app-avatar></app-avatar>
    <span>Encuéntralo como</span>
    <span>midudev</span>
  </div>
</section>
<br />

<section></section>
