<section class="container-detail">
  <div class="information">
    <h2>Descripción</h2>
    <p class="information__description">
      🧑‍💻 Te enseño a programar y mejorar tu lógica de programación • 🚀 Soy
      Desarrollador Full Stack JavaScript con 15 años de experiencia • ⭐
      Reconocido como Google Developer Expert y GitHub Star • ¡Sígueme para no
      perderte el próximo stream!
    </p>
  </div>

  <div class="creator-content">
    <app-avatar [width]="200"></app-avatar>
    <span class="creator-content__title">Encuéntralo como</span>
    <span class="creator-content__subtitle">midudev</span>
  </div>
</section>

<br />

<section class="container-url">
  <img
    class="container-url__image"
    src="assets/svg/url-search.svg"
    alt="search"
  />
  <div class="link">
    <h1>Sigue su contenido en el siguiente enlace:</h1>
    <button mat-button color="primary">
      <mat-icon>language</mat-icon>
      midudev
    </button>
  </div>
</section>

<br />

<section class="container-tags">
  <h1>¿Qué temas trata?</h1>
  <mat-chip-list aria-label="Fish selection">
    <mat-chip>One fish</mat-chip>
    <mat-chip>Two fish</mat-chip>
    <mat-chip color="primary">Primary fish</mat-chip>
    <mat-chip color="accent">Accent fish</mat-chip>
  </mat-chip-list>
</section>
