@use "../../../../assets/theme/colors.scss";
.banner-home {
  display: flex;
  justify-content: center;
  padding: 1em 0 1em 0;
  align-items: center;
  background-color: colors.$background-black-color;

  &__message {
    font-weight: bold;
  }
  &__image {
    max-width: 15%;
  }
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    max-width: 80%;
    width: 100%;
    padding: 1em;
  }
}
