$primary-color: #00cccb;
$accent-color: #ffd910;

$background-color: #121212;
$background-black-color: #0a0a0a;
//  COLOR TEXT
$text-primary-color: #ffffff;
$text-secondary-color: #6c6c6c;
$text-alternative-color: #aeaeae;
