<div class="center-content">
    <mat-card>
      <mat-card-header>
        <button mat-raised-button>Guardar</button>
      </mat-card-header>
      
      
        <a href="" class="imagen-perfil">
          <img src="assets/photo.png" alt="">
        </a>
      
      
      <mat-card-content>
        <div>
          <p>
            <input type="text" placeholder="Nombres">
            <span class="material-icons-outlined">
              account_circle
            </span>
          </p>
  
          <p>
            <input type="text" placeholder="Apellidos">
            <span class="material-icons-outlined">
              account_circle
            </span>
          </p>
  
          <p>
            <input type="text" placeholder="Pseudonimo">
            <span class="material-icons-outlined">
              account_circle
            </span>
          </p>
  
          <p>
            <input type="email" placeholder="E-mail">
            <span class="material-icons-outlined">
              mail
            </span>
          </p>
          
        </div>
        
        <div>
          <p>
            <input type="password" placeholder="Contraseña">
            <span class="material-icons-outlined">
              password
            </span>
          </p>
  
          <p>
            <input type="text" placeholder="GitHub">
            <img src="assets/images/github.png" width="40px">
          </p>
  
          <p>
            <input type="text" placeholder="Twitter">
            <img src="assets/images/twitter.png" width="40px">
          </p>
  
          <p>
            <input type="text" placeholder="Linkedin">
              <img src="assets/images/linkedin.png" width="40px">
          </p>
          
        </div>
      
      </mat-card-content>
      
      
    </mat-card>
  </div>
  
  
    
